.footer {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0)
    ),
    url("/mewat-engineering-college-campus-gate.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
